/* c- means custom */


#root{ 
  background-color: #141414;
  /* background-image: url("../public/images/fluid_colors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; */
}

main{
  min-height: 80vh;
}

h3{
  padding: 1rem 0;
}

.rating span{
  margin: 0.1rem;
}

/* Home */
.c-home{
  padding: 2vh;
  margin-bottom: 5vh;
  border-radius: 20px;  
  background-image: url("../public/images/fluid_colors.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* box-shadow: 10px 10px 10px 10px; */
}
.c-title{
  width: fit-content;
  text-align: start;
  padding: 2vh;
  color: #ffffff;
  font-size: clamp(2vw, 40px, 6vw);
}
.c-last-deals{
  width: auto;
  height: auto;
  padding: 2vh;
  margin-bottom: 5vh;
  /* border-radius: 20px;  
  box-shadow: 10px 10px 10px 10px; */
}
.c-card-carousel{
  width: auto;
  height: auto;
  padding: 2vh;
  margin-bottom: 5vh;
  border-radius: 20px;  
  /* box-shadow: 10px 10px 10px 10px; */
}

.c-col-fixed-width{
  flex: 0 0 auto;
  width: 33.33333333% !important;
}

/* ProductCard */
.c-carousel-item{
  padding: 20px;
}

/* Product */
.c-padding-list{
  padding: 20px !important;
}

/* Colors */
.c-black{
  background-color: #000000;
}
.c-gray{
  background-color: #121212 !important;
}